@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    border: 0;
}

body {
    background: 5%/100% 100% no-repeat url("https://images.unsplash.com/photo-1495757450029-09dbedacbc36?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100vh;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: large;
}

.container {
    background-color: black;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 1.8rem;
    border-radius: 70px;
    width: 95vh;
    max-width: 23rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hidden {
    display: none;
}

.tempo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 70%;
}

.search input {
    padding: 0.8rem 3.5rem 0.8rem 1rem;
    border-radius: 25px;
    font-size: large;
}

.search button {
    border-radius: 50px;
    padding: 0.8rem;
}

.search img { 
    display: flex;
    width: 25px;
}

.temp {
    font-size: 20pt;
    font-weight: bold;
}

.parc {
    font-size: medium;
    text-transform: capitalize;
    
}

.umidade, .vento {
    font-weight: bold;
}